@use "../abstracts/tokens" as t;

.container {
  width: 100%;
  max-width: t.$breakpoint-lg; 
  margin-left: auto;
  margin-right: auto;
  padding-inline: t.$space-md;

}

@media (min-width: t.$breakpoint-md) {
  .container {
    padding-inline: t.$space-lg;
  }
}

@media (max-width: t.$breakpoint-sm) {
  .container {
    padding-inline: t.$space-md;
  }
}