@use "../../../../styles/abstracts/tokens" as t;

.wrapper {
    display: grid;
    gap: t.$space-md;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: t.$space-md;
}
.grid {
    display: grid;
    gap: t.$space-md;
    grid-template-columns: repeat(auto-fill, minmax(150px, 170px));
    justify-content: start;
}
.button {
    padding: t.$space-xs t.$space-sm;
    border-radius: 999px;
    border: 1px solid t.$color-label-gray;
    background: transparent;
    color: t.$color-text;
}
.active {
    background-color: t.$color-knob-gray;
}
.reset {
    background-color: t.$color-knob-gray;
    color: white;
}