// @use "../../styles/abstracts/tokens" as t;

// .grid {
//     padding: t.$space-md;
//     display: grid;
//     gap: t.$space-md;
//     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
// }