@use "../../../styles/abstracts/tokens" as t;

.wrapper {
    background-color: t.$color-label-gray;
    padding: t.$space-md;
    display: flex; 
    flex-direction: column; 
    gap: t.$space-sm;
}

.imageWrapper {
    aspect-ratio: 1/1;
    background-color: t.$color-matrix-blue;
}

.title {
    font-family: t.$font-decor;
}

.artist {
    font-family: t.$font-body;
}