@use "../../../styles/abstracts/tokens" as t;

.wrapper {
    background-color: t.$color-label-gray;
    padding: t.$space-xs;
    display: flex; 
    flex-direction: column; 
    gap: t.$space-2xs;
    aspect-ratio: 1/1.25;
}

.imageWrapper {
    aspect-ratio: 1/1;
    background-color: t.$color-matrix-blue;
}

.title {
    font-family: t.$font-decor;
    font-size: t.$font-size-md;
}

.artist {
    font-family: t.$font-body;
    font-size: t.$font-size-xs;
}

.title,
.artist {
  margin: 0;
  line-height: t.$line-height-tight;
}
