@use "../../../styles/abstracts/tokens" as t;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: t.$space-md;
    background-color: t.$color-knob-gray;
    font-size: t.$font-size-sm;
    font-family: t.$font-decor;

}