@use "../../../styles/abstracts/tokens" as t;

.copyRight {
    font-size: t.$font-size-sm;
    font-family: t.$font-decor;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px; 
    background-color: t.$color-knob-gray;

}