@use "../../../styles/abstracts/tokens" as t;

.header {
    background-color: t.$color-knob-gray;
    padding-block: t.$space-md;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner ul {
    display: flex;
    flex-direction: column;
    gap: t.$space-xs;
    list-style: none;
    font-family: t.$font-decor;
    font-size: t.$font-size-base;
    margin: 0;
    padding: 0;
    line-height: t.$line-height-tight;
}

@media (min-width: t.$breakpoint-sm) {
  .inner ul {
    font-size: t.$font-size-lg;
  }
}

.inner nav {
    display: none;
}

@media (min-width: t.$breakpoint-sm) {
    .inner nav {
        display: block;
    }
}

.inner button {
    display: inline-flex;
}

@media (min-width: t.$breakpoint-sm) {
    .inner button {
    display: none;
    }
}

.siteTitle {
    font-size: t.$font-size-2_5xl;
    font-family: t.$font-heading;
    line-height: t.$line-height-tight;
}

@media (min-width: t.$breakpoint-sm) {
  .siteTitle {
    font-size: t.$font-size-3xl;
  }
}