@use "../abstracts/tokens" as t;

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

  .skip {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  padding: 0.75rem 1rem;
  background-color: t.$color-synth-black;
  color: t.$color-text;
  z-index: 1000;
}

.skip:focus,
.skip:focus-visible {
  transform: translateY(0);
}