@use "../abstracts/tokens" as t;

.bg-grid {
  background-image:
    linear-gradient(
      rgba(255,255,255,0.07) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.06) 1px,
      transparent 1px
    );
  background-size: 20px 20px;
}

.bg-grain {
  position: relative;
}

.bg-grain::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-image: url("data:image/svg+xml,...");
  opacity: 0.06;
  mix-blend-mode: overlay;
}
