@use "../../../../styles/abstracts/tokens" as t;
.contactBox {
    display: flex;
    background-color: t.$color-knob-gray;
    border-radius: 0.2rem;
    padding-block: t.$space-lg;
    padding-inline: t.$space-lg;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60ch;
    margin-inline: auto;
}

.address {
    line-height: t.$line-height-tight;
    min-width: 0;
    
}

.layoutRow {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: t.$space-xl;
    align-items: start;
}

.contactLink {
    align-self: end;
}

