@use "../abstracts/tokens" as t;

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: t.$color-synth-black;
color: t.$color-text;
font-family: t.$font-body;
line-height: t.$line-height-normal;
font-size: t.$font-size-base;
}

main {
  flex:1; 
  min-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}