@use "../abstracts/tokens" as t;

h1 {
    font-size: t.$font-size-2xl;
    font-family: t.$font-heading;
    line-height: t.$line-height-tight;
}

h2 {

    font-size: t.$font-size-xl;
    font-family: t.$font-decor;
    line-height: t.$line-height-tight;
}

h3 {
    font-size: t.$font-size-md;
    font-family: t.$font-decor;
    line-height: t.$line-height-tight;
}

p {
    font-family: t.$font-body;
}

